:root {
    --primary-colorswhite: rgba(255, 255, 255, 1);
    --secondary-colorsupporting-colorsiron: rgba(85, 86, 90, 1);
    --bgwhite: rgba(255, 255, 255, 1);
    --primary-colorsoceanic: rgba(64, 93, 101, 1);
    --white: rgba(255, 255, 255, 1);
    --primary-color-applicationsdark-dune: rgba(213, 201, 190, 1);
  }
  